* {

	margin: 0;
	padding: 0;
}
.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #f8f8f8;
	padding: 10px 0 10px 0;
}
a:hover {
	color: black;

}
a {
	text-decoration: none;
	color: rgb(7, 7, 7);
	font-size: 20px;

}
p {
	margin: 10px 0 10px 0;
}
.title h3 {

	font-size: 32px;
	text-decoration: underline;
	color: rgba(245,40,50,1);
}

.menu ul li {

	float: left;
	margin-left: 20px;
	list-style: none;

}
.menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
ul.menu_child {
	position: absolute;
	width: 225px;
	background-color: #fdfcfc;
	z-index: 9999;
	

}
ul.menu_child li {
	padding: 15px 0 0 0 ;
	float: none;
	display: none;
}
.menu ul li:hover ul.menu_child li {
	display: block;
}

.slider-margin {
	margin-top: 20px;
}
.col-2 menu img{
	width: 30%;
	height: 30%;

}

.text{
    width: 1200px;
    padding: 30px 1px 1px 30px;
    margin: 1px 1px 1px 1px;
}
.text1{
    font-size: 25px;
    padding-left:250px ;
    padding-bottom: 30px;
}
.text2{
    padding-left: 1px;
    padding-right: 1px;
}
.text3{
    padding-top: 30px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 0px;
    margin-left: 0px;
}
.text4{
    padding-bottom: 25px;
    color: mediumblue;
}
.textbox{
    list-style-type: circle;
    padding-left: 0px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.ab{
    margin-top: 15px;
}
.ac{
    margin-top: 15px;
}
.text6{
    list-style-type: circle;
    padding-left: 0px;
    margin-left: 50px;
    margin-bottom: 5px;
}
