* {

	margin: 0;
	padding: 0;
}
.container {
	padding-right: 20px;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #f8f8f8;
	padding: 10px 0 10px 0;
}
a:hover {
	color: black;

}
a {
	text-decoration: none;
	color: rgb(7, 7, 7);
	font-size: 20px;

}
p {
	margin: 10px 0 10px 0;
}
.title h3 {

	font-size: 32px;
	text-decoration: underline;
	color: rgba(245,40,50,1);
}

.menu ul li {

	float: left;
	margin-left: 20px;
	list-style: none;

}
.menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
ul.menu_child {
	position: absolute;
	width: 225px;
	background-color: #fdfcfc;
	z-index: 9999;
	

}
ul.menu_child li {
	padding: 15px 0 0 0 ;
	float: none;
	display: none;
}
.menu ul li:hover ul.menu_child li {
	display: block;
}

.slider-margin {
	margin-top: 20px;
}
div.col-8 menu{
	padding-left: 20px;
}



